# Ignore everything in backend
backend/*

# Allow only these backend files
!backend/api.py
!backend/log_pipeline.py
!backend/tools.py
!backend/agent.py
!backend/requirements.txt

# Allow frontend completely


# General ignores
__pycache__/
*.pyc
.env
.venv/
.ipynb_checkpoints/
